#token-mold-overlay {
  color: #f1f1f1;
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: auto;
  align-content: center;
  justify-content: flex-end;
  padding: 3px 0;
  width: 100%;
}
#token-mold-overlay span {
  padding: 0 3px;
}
#token-mold-overlay .value {
  background-color: rgba(0, 0, 0, 0.6);
  grid-column: 0.5;
}
#token-mold-overlay .icon {
  background-color: rgba(0, 0, 0, 0.6);
  grid-column: 0.66666667;
}
.token-mold.settings .settings-list {
  border-radius: 0.5em;
  border: 2px inset;
  padding: 0em;
}
.token-mold.settings .settings-list .list-header {
  text-align: left;
  padding: 0 0.5em;
  margin: 0;
  font-size: 1.2em;
  border-bottom: 1px dashed;
}
.token-mold.settings .settings-list > li {
  list-style-type: none;
}
.token-mold.settings input[type="checkbox"] {
  display: none;
}
.token-mold.settings input[type="checkbox"] + label {
  cursor: pointer;
}
.token-mold.settings input[type="checkbox"] + label:hover {
  text-shadow: 0 0 0.5em red;
}
.token-mold.settings input[type="checkbox"] + label:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 300;
  letter-spacing: 10px;
  content: "\f0c8";
}
.token-mold.settings input[type="checkbox"]:checked + label:before {
  font-weight: 900;
  content: "\f14a";
}
.token-mold.settings .config-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0.5em;
}
.token-mold.settings .config-item:nth-child(odd) {
  background: rgba(0, 0, 0, 0.05);
}
.token-mold.settings .config .name,
.token-mold.settings .config .list-header :first-child {
  flex: 0 200px;
  margin-right: 1ch;
  padding-right: 1ch;
  border-right: 1px dashed;
}
.token-mold.settings .config-setting {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.token-mold.settings .config-setting > * {
  margin: 0 1ch;
}
.token-mold.settings .config-setting input[type="number"] {
  flex: 0 5ch;
  margin: 0 1ch 0 0.5ch;
  height: 1.2em;
}
.token-mold.settings .config-setting select {
  height: 1.4em;
  margin: -0.2em 0;
}
.token-mold.settings .attributes .config-item {
  position: relative;
}
.token-mold.settings .attributes .attribute-selector,
.token-mold.settings .attributes .list-selector {
  flex: 0 20ch;
}
.token-mold.settings .attributes input {
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #7a7971;
  border-radius: 3px;
  font-family: inherit;
  padding: 0.05em 0.2em;
  color: inherit;
  font-size: inherit;
  text-align: left;
  line-height: inherit;
  text-overflow: ellipsis;
  width: 20ch;
}
.token-mold.settings .attributes select,
.token-mold.settings .attributes input {
  height: 1.4em;
}
.token-mold.settings .attributes .attribute-value {
  width: 10ch;
}
.token-mold.settings .datalist {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  color: #ccc;
  border: 1px solid rgba(150, 150, 150, 0.5);
  box-shadow: 0 5px 5px #000;
  border-radius: 0.2em;
  padding: 0;
  margin: 0;
  max-height: 10em;
  overflow-y: scroll;
  overflow-x: hidden;
  width: min-content;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.token-mold.settings .datalist li {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0.2em 0.2em;
}
.token-mold.settings .datalist li[data-value] {
  cursor: pointer;
}
.token-mold.settings .datalist li[data-value]:hover {
  text-shadow: 0 0 0.2em red;
  color: #aaa;
  background: rgba(90, 90, 90, 0.5);
}
.token-mold.settings .datalist li:not(:last-child) {
  border-bottom: 1px solid rgba(90, 90, 90, 0.5);
}
.token-mold.settings .datalist .optgroup {
  display: block;
}
.token-mold.settings .datalist .optgroup label {
  color: #888;
  font-weight: bold;
}
.token-mold.settings .datalist .info {
  color: #aaa;
  margin-left: 1ch;
}
.token-mold.settings .datalist .info:before {
  content: "[";
}
.token-mold.settings .datalist .info:after {
  content: "]";
}
.token-mold.settings .dropzone {
  width: 20ch;
  height: 2em;
  border: 1px solid;
  border-radius: 0.3em;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 2em;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
}
.token-mold.settings .dropzone.over {
  box-shadow: 0 0 5px red;
  border: 2px outset;
}
.token-mold.settings .attribute-molds {
  display: flex;
  flex-flow: row nowrap;
}
.token-mold.settings .mold-list {
  display: flex;
  flex-flow: column nowrap;
  padding: 1em 0;
  margin: 0;
}
.token-mold.settings .mold-list li {
  list-style-type: none;
  text-align: left;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid #3335;
  border-radius: 0.2em;
  border-right: none;
  padding: 0.2em;
  cursor: pointer;
}
.token-mold.settings .mold-list li:not(:first-child) {
  border-top: none;
}
.token-mold.settings .mold-list li h4 {
  flex: 1 100%;
  min-width: 15ch;
}
.token-mold.settings .mold-list li.selected {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0px 11px 8px -10px red, inset 0px -11px 8px -10px red;
}
.token-mold.settings .mold-list li:hover {
  text-shadow: 0 0 0.2em red;
}
.token-mold.settings li.add-row {
  border: none;
  line-height: 1.2em;
  background: none;
}
.token-mold.settings li.add-row:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f067";
  padding: 0 0.3ch;
}
.token-mold.settings li.add-row:hover {
  text-shadow: 0 0 0.2em red;
}
.token-mold a[href] {
  color: #4a52ca;
}
.token-mold .form-group section {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}
.token-mold .form-group section input[type="text"] {
  flex: 0 200px;
  margin-left: auto;
}
.token-mold .form-group section > * {
  margin: 3px;
}
.token-mold .info.active {
  display: flex;
  flex-flow: column nowrap;
  height: 82%;
}
.token-mold .info.active ul {
  flex: 1;
}
.token-mold .info.active h2,
.token-mold .info.active .token-mold-support {
  flex: 0;
}
.token-mold .token-mold-support {
  text-align: right;
}
.window-app.token-mold {
  min-width: 540px;
}
.token-mold .unlinked {
  border-bottom: 1px solid #666666;
  justify-content: center;
  margin: 0;
  padding: 3px;
}
.token-mold .unlinked > * {
  flex: 0 auto;
}
.token-mold nav {
  background: rgba(0, 0, 0, 0.05);
  padding: 6px;
  margin: 0;
  margin-bottom: 3px;
}
.token-mold .item {
  color: #555;
}
.token-mold .item.active {
  color: black;
}
.token-mold h3 {
  flex: 0 100%;
  margin: 3px;
  text-align: center;
}
.token-mold nav {
  border-bottom: 1px solid #666;
  margin: 0 0 6px 0;
}
.token-mold nav .item {
  flex: 1 auto;
}
section.token-mold {
  flex: 0 auto;
}
section.token-mold input[type="checkbox"] {
  display: none;
}
section.token-mold span:not(.checkmark) {
  color: #999;
}
section.token-mold .token-rand-form-btn {
  margin: 0 10px;
}
section.token-mold label.label-inp {
  margin: 0 auto;
}
section.token-mold input[type="checkbox"]:checked ~ span {
  color: #eee;
  /*text-shadow: 0px 0px 5px #FF0000;*/
}
section.token-mold input[type="checkbox"]:checked ~ span span.checkmark::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
}
section.token-mold span.checkmark {
  width: 10px;
  text-shadow: none;
}
section.token-mold span.checkmark::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f05e";
}
section.token-mold {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid red;
}
.token-mold span.label-inp {
  flex: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.token-mold .inp-small {
  flex: 0 20px;
}
.token-mold select {
  flex: 0 auto;
}
.token-mold .flexcol {
  padding: 5px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
}
.token-mold .language-selection {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}
.token-mold h4.language,
.token-mold select.language,
.token-mold h4.icon,
.token-mold select.icon {
  flex: 0 100px;
  margin: 3px;
  max-width: 100px;
}
.token-mold h4.attributes,
.token-mold input.attributes,
.token-mold h4.value,
.token-mold select.value {
  flex: 0 50%;
  margin: 3px;
}
.token-mold a.remove,
.token-mold a.reset,
.token-mold a.lang-remove {
  flex: 0 15px;
  align-self: flex-end;
  padding: 3px 5px;
}
.token-mold .name-randomizer-options {
  margin-top: 3px;
  background: rgba(0, 0, 0, 0.05);
  padding: 3px;
  border: 1px solid #666666;
}
.token-mold .header {
  margin-top: 6px;
  background: rgba(0, 0, 0, 0.05);
  border-top: 1px solid #666666;
  border-bottom: 1px solid #666666;
}
.token-mold .language-selection.header h4,
.token-mold .attributes h4 {
  margin: 3px;
}
.token-mold .form-group.attributes {
  align-items: center;
  flex-flow: row nowrap;
}
.token-mold .attribute {
  flex: 0 25%;
  max-width: 25%;
  min-width: 25%;
}
.token-mold select.attribute {
  margin-top: 6px;
}
.token-mold .value {
  flex: 1;
}
.token-mold .language {
  flex: 0 100px;
}
.token-mold .add-language-value {
  align-self: flex-start;
  margin-top: 5px;
}
.token-mold .attribute-selection.attribute-group {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}
.token-mold .attribute-group .language-selection {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 75%;
  max-width: 75%;
  justify-content: space-between;
  align-items: center;
}
.token-mold .language-group {
  width: 100%;
  padding: 0 3px;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
}
.token-mold .default {
  font-size: 16px;
  font-weight: bold;
  opacity: 0.8;
}
.token-mold .loading {
  animation: token-mold-spinner 2s linear infinite;
}
@keyframes token-mold-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.token-mold a.reroll-names {
  margin: auto;
  flex: 0 auto;
}
