<form class="{{classes}}" autocomplete="off">
    <header>
        <nav class="sheet-tabs tabs" data-group="sections">
            <a class="item" data-tab="name" data-group="sections">{{localize "TOKEN-MOLD.TAB.Name"}}</a>
            <a class="item" data-tab="hp" data-group="sections">{{localize "TOKEN-MOLD.TAB.HP"}}</a>
        </nav>
    </header>
    <section class="content">
        <div class="tab tmold_name" data-tab="name" data-group="sections">
           {{> "modules/token-mold/templates/partials/name-tab.hbs"}}
        </div>
        <div class="tab tmold_hp" data-tab="hp" data-group="sections">
            {{> "modules/token-mold/templates/partials/hp-tab.hbs"}}
        </div>
    </section>
    <footer>

    </footer>
</form>