<style>
.welcome-screen a[href] {
    color: #4a52ca;
}
.welcome-screen .window-content > * {
	flex: 0;
}
</style>

<h1>Thank you for using Token Mold!</h1>
<p>Please keep in mind that i am working on this and my other projects mostly alone, in my spare time and for free. Especially before complaining (rudely) about something not working or needing some time before getting done!</p>
<p>Stay polite and do your best to describe your issue, question or suggestion as detailed as possible, to help shorten time needed to clarify things and to even keep me motivated to react and go on working on this for free.</p>
<p>Make sure to read the <a href="https://github.com/Moerill/token-mold#token-mold">README</a>, to get an overview of Token Molds features.</p>
<h2>Bugs? Issues?</h2>
<p>Take a look at the <a href="https://github.com/Moerill/token-mold#faq">FAQ</a>. If this does not help, read and follow <a href="https://github.com/Moerill/token-mold#bug-reporting">these instructions</a>.
<h2>Suggestions? Feature Requests?</h2>
<p>Don't ask me on Discord. Use the <a href="https://github.com/Moerill/token-mold/issues">GitHubs Issue Board</a> for questions, suggestions, bugs, helping other peoples questions getting answered, etc..</p>
<p>Before you post anything, check the issues board first if your issue, question, etc. has been posted already. If yes, comment on the existing post and/or give it a thumbsup!</p>
<p>Currently planned features (and bugs) are on the <a href="https://github.com/Moerill/token-mold/issues">GitHubs Issue Board</a>. </p>

<p style="font-weight: bold; text-align: right;">Best regards, <br>Moerill</p>
<h2></h2>
<p style="display: flex; flex-flow: row nowrap; align-items: center; justify-content: flex-start;"><input type="checkbox" class='show-again' id="welcome-screen-show-again"/> <label for="welcome-screen-show-again">Don't show this screen again until next update.</label></p>
<p style="text-align: right">Want to support development? <a href="https://github.com/Moerill/token-mold#support-the-development">Click here</a></p>
<h2></h2>
<h1>Changelog</h1>
<h2>v2.7.0</h2>
<ul>
	<li>*NEW* French adjective rollable table, thanks to Discord User @MagicRabbit</li>
	<li>*NEW* You can now decide whether adjectives should be placed before or behind the name.</li>
	<li>*FIX* Overriding bars to "NONE" not working.</li>
	<li>*FIX* DnD5e token scaling feature not respecting "apply to unlinked only" setting</li>
	<li>*FIX* Some reasons resulting in the overlay not being activated.</li>
	<li>*FIX* Different errors shown for tokens without representing actors</li>
	<li>*FIX* Settings menu not showing the correct setting for vertical mirroring.</li>
</ul>
<h2>v2.6.1</h2>
<ul>
	<li>Fixed FVTT 0.6.0 incompatibilities</li>
	<li>Fixed errors when...
		<ul>
			<li>deleting tokens</li>
			<li>reapply settings not working when linked tokens in selected</li>
			<li>selecting "none" for a config setting</li>
		</ul>
	</li>
</ul>